tr
    td(style='text-align: center')=epic.id
    td
        a(href=`/epic/${epic.id}`)=epic.name
    td=epic.description
    td
        if epic.state === 'draft'
            i.fas.fa-drafting-compass(style='margin-right: 10px; color: #919191')
            span Draft
        if epic.state === 'ready'
            i.fas.fa-circle(style='margin-right: 10px; color: #919191')
            span Ready
        if epic.state === 'work_in_progress'
            i.fas.fa-dot-circle(style='margin-right: 10px; color: #55e65c')
            span Work in Progress
        if epic.state === 'completed'
            i.fas.fa-check-circle(style='margin-right: 10px; color: #55b1e6')
            span Completed